[submodule ".vim/bundle/splice"]
	path = .vim/bundle/splice
	url = https://github.com/sjl/splice.vim.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
